body{
    margin: 0;
    height: 100vh;
    background-color: black;
    width: 100%;
    
}
header{
    width: 100%;
    height: 65px;
    background: rgb(239, 240, 241);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}
.title .line1{
    font-size: 4rem;
    margin-bottom: 30px;
}
.logo{
    width: auto;
    font-size: 2rem;
    font-family: "MuseoModerno", sans-serif;
    
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right a{
    text-decoration: none;
    font-family: "MuseoModerno", sans-serif;
    font-size: 15px;
    color: black;
    margin: 0 15px;
    transition: .5s ease all;
}
.right a:hover{
    border-bottom: 0.5mm solid rgb(0, 0, 0);
}
a.primary{
    background: rgb(48, 219, 1);
    color: rgb(3, 3, 3);
    padding: 7px 20px;

    border: solid rgb(0, 0, 0);;
}
a.primary:hover{
    color: white;
    background: rgb(0, 0, 0);
    border: solid rgb(0, 0, 0);;
}
.hero a.signup{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 7px 20px;
    border-radius: 5mm;
    border: .5mm solid rgb(55, 255, 0);
}
.hero a.signup:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(3, 0, 0);
}
.hero{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5%;
    box-sizing: border-box;
}
.hero-left{
    flex-grow: 1;
    color: white;

}
.title{
    font-family: "MuseoModerno", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 20px 0;
    
}
.hero .caption{
    font-family: "Poppins";
    font-size: 16px;
    margin-bottom: 40px;
}
.links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.links a{
    text-decoration: none;
    font-family: "MuseoModerno", sans-serif;
    color: black;
    text-align: center;
    border: 0.5mm solid rgb(200, 200, 200);
    border-radius: 5mm;
    padding: 7px 20px;
    
}
.hero a.explore{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 7px 20px;
    border-radius: 5mm;
    border: .5mm solid rgb(55, 255, 0);
    margin-left: 15px;
    
    
}
.hero a.explore:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}
.links a.primary{
    color: white;
    border: none;
    margin-right: 20px;
}
.hero-right img{
    width: 300px;
    border-radius: 2mm;
}
.contact-container{
    height:40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: bold;
    font-family: "MuseoModerno";
    font-size: 40px;
    color: #0a9328;
    margin-bottom: 5px;
}
.contact-inputs{
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: red;
    border-radius: 10px;
}
.contact-inputs:focus{
    border: 2px solid #07ac2a;
}
.contact-inputs::placeholder{
    color: #000000;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    font-size: 15px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;
    background-color: #000000;
    border-radius: 5mm;
    border: .5mm solid rgb(55, 255, 0);

}
.contact-left button:hover{
    background-color: white;
    color: black;
    border-radius: 5mm;
    border: .5mm solid rgb(55, 255, 0);
}
.content{
    width: 100%;
    min-height: 90%;
    display: grid;
    place-items: center;
}
.box{
    width: 80%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    margin: 20px 0;
    font-family: "MuseoModerno";
    height: auto;
    
    
}
.box-left,.box-right{
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    place-items: center;
}
.box-left img{
    width: 300px;
    border-radius: 5mm;
}
.box-right{
    font-family: "MuseoModerno", sans-serif;
    color: rgb(50, 167, 93);
}
.box-title{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 100%;
}
.box-description{
    color: azure;
    width: 100%;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.market{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    justify-content: center;
    margin:0;
    gap: 5%;
    height: 60vh;
    background-color: transparent;
}
.shop{
    align-items: center;
    text-align: center;
    background: transparent;
    width: fit-content;
    margin: 0 10px;
    transition: .3s all ease;
    filter: grayscale(30%);
    
}
.shop:hover{
    opacity: 1;
    filter: grayscale(0%);
    scale: 1.05;
}

.square{
    padding: 0px;
    background-color: rgb(0, 0, 0);
    border-radius: 4mm;
    position: relative;
    width: 200px;
    border: .9mm solid rgb(42, 39, 39);
    cursor: pointer;

}
.square:hover{
    border: .9mm solid rgb(205, 55, 55);
}
    
.shop .square img{
    height: auto;
    width: 100%;
    border-top-left-radius: 4mm;
    border-top-right-radius: 4mm;

    
}
.shop .square h4{
    font-size: 15px;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 8px;
    margin: 0;
    color: aliceblue;
}
.shop .square h5{
    font-size: 15px;
    letter-spacing: 1.4px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0a9328;
    font-family: "MuseoModerno";
}
.shop .square .cart i{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: rgb(202, 214, 234);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 3mm;
}
footer{
    width: 100%;
    background: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 20px;
    box-sizing: border-box;
}
.footer-left{
    display: flex;
    align-items: center;
}
footer a,.footer-right{
    text-decoration: none;
    font-family: "MuseoModerno", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: hsl(0, 0%, 0%);
    margin: 0 10px;
}
.footer-right{
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
@media only screen and (max-width:1060px){
    .title{
        font-size: 5vw;
    }
    .hero-right img{
        display: none;
    }
    .caption{
        font-size: 1.4vw;
    }
    .links a{
        font-size: 1.5vw;
        padding: 0.6vw 1.65vw;
    }
    .market{
        gap: 1%;
    }
    .shop{
        transition: 0s;
    }
    .shop:hover{
        opacity: 1;
        
        filter: grayscale(0%);
        scale: 1;
    }
    .square{
        width: 200px;
}
}

@media only screen and (max-width: 750px){
    .title{
        font-size: 45px;
        text-align: center;

    }
    .market{
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: 1;
    }
    .shop:hover{
        opacity: 1;
        
        filter: grayscale(0%);
        scale: 1;
    }
    .shop{
        margin: 0;
        margin-bottom: 5px;
        transition: 0s;
    }
    .square{
        width: 120px;
    
    }
    .caption{
        font-size: 14px;
        
    }
    .links a{
        font-size: 14px;
        padding: 7px 20px;
    }
    .hero-left{
        display: grid;
        place-items: center;
    }
    .links{
        justify-content: center;
    }
    header{
        padding: 16px 10px;
    }
    header .right a{
        margin: 0 10px;
        font-size: 12px;
    }
    .header .logo{
        width: 80px;
    }
    .box-left img{
        width: 200px;
    }
    .box-title{
        font-size: 30px;
    }
    footer{
        flex-direction: column;
    }
    

}

@media only screen and (max-width:470px){
    .market{
        display: flex;
        flex-direction: row;
        gap: 0.1;
        height: 50vh;
    }
    .shop:hover{
        opacity: 1;
        
        filter: grayscale(0%);
        scale: 1;
    }
    
    .box{
        margin-bottom: 50px;
    }
    .shop{
        margin-bottom: 50px;
        margin: 1;
        transition: 0s;
    }
    .square{
        padding: 5px;
        width: 90px;
    }
    .purchase{
        font-size: 11px;
        padding: 3px 3px;
        font-family: "Poppins";
        border: .5mm solid black;
        border-radius: 5mm;
    }
    .purchase:hover{
        background-color: rgb(12, 213, 45);
    }
    .shop .square .cart i{
        width: 20px;
        height: 20px;
        font-size: 15px;
    }
    .shop .square h5{
        font-size: 13px;
        letter-spacing: 1.4px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #0a9328;
        font-family: "MuseoModerno";
    }
}
